install.xml
*/lib
settings/cp.ivysettings.xml
settings/repo
settings/ivy-cache
settings/local.ivysettings.xml
settings/ivysettings.properties
out
build
dist
*.iml
*.ipr
*.iws

# where gradle properties are stored
gradle.properties
.gradle/
